/* Version 1.1
 * 
 *
 *
 */
/* Set global formats*/


.App {
  font-family: "Esphimere Thin";
  text-align: center;
  background-image:
    linear-gradient(#000000AA,
      #00000040), url("../img/Cupcake2.jpg");
  background-size: 100vw;
  background-attachment: fixed;
  background-repeat: repeat;
  min-height: 100vh;
  height: 100%;
  color: white;
}

/* Format everything but the header */



/*The spinning muffin */
.Cupcake-spinner {
  display: none;
  padding-bottom: 100px;
  float: right;
  width: 100%;
  max-width: 40px;

}

/*Fixes pos of tables*/
.Table-fix {
  display: flex;
  flex-direction: column;
}

.Table-fix2 {
  display: inline-block;
}

.Edit-fix {
  width: 100%;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
}

/* Format text in title */
.Page-header {
  font-size: calc(12px + 3vmin);
  font-weight: bold;
}

/* Format size of Header*/
.old-Header-bar {
  height: 100%;
  z-index: 1;
  width: 140px;
  display: flex;
  position: fixed;
  background-color: #dddddd80;
  padding-top: 5vmin;
}

.Dropdown-menu {
  overflow: hidden;
  float: right;
  margin-top: -1vmin;
  margin-right: 4vmin;
  align-items: right;
}

.Drop-menu {
  height: 30vmin;
  margin-left: -10vmin;
  width: 30vmin;
  display: none;
  position: absolute;
  background-color: #adadad;
}

.Drop-menu a {
  font-size: calc(10px + 1.4vh);
  margin-top: 20px;
  padding: 0px;
}

.Dropdown-menu:hover .Drop-menu {
  display: flex;
  flex-direction: column;

}

.Droper {
  transition: 0.3s;
  padding: 0vmin 0vmin;
  margin-right: 0vmin;
  margin-top: 0px;
}

.login-symbol {
  margin-right: 4vmin;
  float: right;
  width: 4vmin;
  margin-top: -7px;
}

.Header-bar {
  top: 0;
  height: 6vmin;
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #fdb61b;
  transition: 0.3s;
}

.Header-link {
  display: block;
  margin-right: 20px;
  padding: 0px 10px;
  font-weight: normal;
  font-family: "Esphimere Light";
  text-Decoration: none;
  color: white;
  float: right;
}

/* Format active-link in header*/
.Header-link-active {
  display: block;
  padding: 0px 0px;
  margin-right: 20px;
  font-family: "Esphimere Light";
  text-Decoration: none;
  color: white;
  font-weight: bold;
  float: right;
}

.Header-bar2 {
  height: calc(100vh - 6vmin);
  z-index: 1;
  width: 15vw;
  margin-top: 0vmin;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}


@keyframes float-in {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 200px;
  }
}

.Button-fix12 {
  margin: -10px 0px;
  width: 1%;
}


.Text-button2 {
  color: white;
  font-family: "Esphimere Light";
  cursor: pointer;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-size: calc(10px + 1vmin);
  border: 0px solid;
  background-color: transparent;
  outline: none;
  margin-left:-40px;
}

.Text-button2:active,
.Text-button2:hover,
.Text-button2:focus {
  text-decoration-line: underline;
}

.nyebuttons {
  display: inline-block;
  
  width: 100%;
}
.nyebuttons *{
  padding:0px 10px;
}

.AddIcon .mdl-navigation__link:hover .material-icons {
  background-color: #00BCD4 !important;
  color: #FFF;
}
.Muffin_top{
  display: flex;
  color: black;
  font-weight: 600;
  font-size: 120%;
  height: 6vmin;
  float:left;
  margin-left: 3vw;
  margin-top: -2vmin;
  cursor: pointer; 
  text-decoration: none;
}
.Muffin_top:hover{

  color:black;
}
.Muffin_top_bar{
  margin-top: 2vmin;
  height: 6vmin;
  margin-left: 5px;
}
.Mui{
  color:#FFFFFF;
  font-size: 40px !important;
}
.Mui:hover{
  color:#dddddd80;
  cursor: pointer;
  
}
.Mui.bar{
  color: black;
  transition: 0.3s;
  padding: 0vmin 0vmin;
  margin-right: 0vmin;
  margin-top:-1vmin;

  cursor: pointer;
}
.Mui.tab{
  margin: 0px 2vmin;
}

.study-list {
  max-height: calc(100vh - 40px - 240px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -40px;
}

.First-class {
  background-color: #DDDDDD40;
  margin-top: 6vmin;
  height: 100vw;
  font-size: calc(12px + 1vmin);
  padding-top: 10px;
  z-index: 1;
  margin-left: 0px;
  width: 15vw;
  max-width: 400px;
  position: fixed;
}

.Second-class{
  position: fixed;
  margin-top: 6vmin;
  margin-left: 15vw;
  overflow: hidden;
  border-bottom: none !important;
}

.Second-class1{
  display: none;
}
.Second-class2{
  position: fixed;
  margin-top: -1vmin;
  width: 100%;
  display: flex;
  margin-left: 35vw;
  z-index:1;
}
.Dropdown-item.inactive{
  background-color: cyan;
}

.Tabs-fix {
  margin: 0;
  padding: 0;
}
.Tabss2{
  background-color:  #cf910a;
  display: inline-block;
  width: 15vw;
  margin: 5px;
  height: 30px;
  margin-top: 0px;
  padding-top: 0p;
}
.Tabss{
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  cursor: pointer;
  padding: 5px;
  width: 10vmin;
  border-radius: 0px 5px 5px 0px !important;
  height: 3vmin;
}

.Tabsss {
  margin-left: -25px;
  text-orientation: sideways-right;
  height: 50px;
}

.Tabsss:active {
  background-color: #FFFFFF;
}

.Text-input1 {
  margin: 10px 10px;
  font-size: calc(10px + 1vmin);
  height: 30px;
  border: 2px solid #A0A0A080;
  outline: none;
}

.Text-input1:active,
.Text-input1:focus {
  border-color: #A0A0A0;
}

.Stud {
  font-size: calc(15px + 1.5vmin);
  margin: 10px 0px;
  font-weight: 600;
}

.App-body {
  font-size: calc(10px + 2vmin);
  padding-left: 15vw;
  padding-top: 7vmin;
  padding-bottom: 40px;
}

/* Format links in header*/
.old-Header-link {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  font-family: "Esphimere Light";
  text-Decoration: none;
  color: #000000;
}

/* Format active-link in header*/
.old-Header-link-active {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  font-family: "Esphimere Light";
  text-Decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/** All links when hovered/focused **/
a:hover,
a:active {
  color: #F0F0F0;
}

/*** formats all "non-special" buttons ***/
.button_pop {
  color: #000000;
  font-family: "Esphimere Light";
  cursor: pointer;
  padding: 0px 10px;
  margin: 10px 10px;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: calc(8px + 1vh);
  border: 3px solid #70707080;
  background-color: white;
  border-radius: calc(10px + 1vmin);
  outline: none;
  max-width: 100%;
  Transition: all 0.3s;
}

.button_pop.left {
  float: left;
}

.button_pop.right {
  float: right;
}

.button_pop.menu {
  width: 100%;
  margin-top: 10px;
  margin-left: -40px;
}
.button_pop.ppop{
  width: 120px;
  height: 310px;
  overflow:hidden;
  font-size: 10px;
} 

.button_pop:hover,
.button_pop:active,
.button_pop:focus {
  background-color: #70707080;
  border-color: white;
  color: white;
}

/** Formats buttons on popups with white background**/
.button_popup {
  color: #000000;
  font-family: "Esphimere Light";
  cursor: pointer;
  padding: 0px 15px;
  margin: 10px 15px;
  line-height: 2em;
  letter-spacing: 1.5px;
  position: relative;

  font-size: calc(10px + 1vmin);
  border: 3px solid #70707080;
  background-color: white;
  border-radius: 15px;
  outline: none;
}

.button_popup:active,
.button_popup:hover,
.button_popup:focus {
  background-color: #70707080;
}


/***Formats the lists of studies ***/
.Text-button {
  color: white;
  font-family: "Esphimere Light";
  cursor: pointer;
  line-height: 2em;
  letter-spacing: 1.5px;

  font-size: calc(10px + 1vmin);
  border: 0px solid;
  background-color: transparent;
  outline: none;
}

.Text-button:active,
.Text-button:hover,
.Text-button:focus {
  text-decoration-line: underline;
}

/***Datasheet-cells ***/

/* Here we overwrites existing css file ---> alot of !important */
.cell {
  color: black;
  min-width: 50px;
  background-color: #ffffff !important;
  font-size: calc(8px + 1vh);
  font-family: "Esphimere Bold";
  overflow: hidden;
  padding: 2px 2px !important;
  border: 1px solid #333333 !important;
  text-align: center !important;
}

.cell>input {

  font-size: calc(8px + 1vh);
  text-align: center !important;
  font-family: "Esphimere Bold";
}

/** Create-popup **/
.modal {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.modal2 {
  color: #000000;
  display: inline-block;
  align-items: left;
  padding-top: 0px;
  padding-left: 0px;

}

.Stud2 {
  font-size: calc(15px + 1.5vmin);
  margin: 10px 0px 10px 0px;
  font-weight: 600;
}
.pop_div {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
.pop_ddiv {
  margin-left: 0px;
}

/**Datasheet-Dimension-counters **/
.Dimmer {
  align-items: center;    
  width: 10vmin;
  padding: 0px;

  font-size: calc(8px + 1vh);
  outline: none;
  margin: 10px 10px;
}

/***Everywhere there are text-inputs ***/
.Text-input {
  margin: 10px 10px;
  font-size: calc(8px + 1vh);
  height: 30px;
  border: 2px solid #A0A0A080;
  outline: none;
}

.Text-input:active,
.Text-input:focus {
  border-color: #A0A0A0;
}


/* Dropdowns*/

.dropdown-item {
  font-size: calc(8px + 1vh);
  color: #000000;
  cursor: pointer;
  padding: 5px;
  min-height: 22px;
  border-bottom: 1px solid #A0A0A080;
}

.dropdown-item:hover {
  color: #2980b9;
  font-weight: bold;
}



/*Changes color in modal-popups*/
.Text-color-fix {
  color: #000000;
}

.Text-color-fix-content {
  color: #000000;
  font-size: 80%;
}

.Cluster-chart {
  z-index: 1;
  color: #000000;
  background-color: #80808080;
  width: 90%;
}

/***Information popups***/
.info_pop {
  color: rgb(0, 125, 255);
  font-family: "Droid Sans";
  font-style: italic;
  cursor: help;
  padding: 0px 5px;
  margin: 0px 0px;
  line-height: 1.2em;
  letter-spacing: 0px;
  position: center;
  font-size: 12px;
  border: 1px solid rgb(0, 125, 255);
  background-color: white;
  border-radius: 100%;
  outline: none;
}


/*** Warning Message ***/
.Warning-logo {
  max-width: 100px;
}

.Warning-div {
  max-height: 100px;
  background-color: #fa282880;
  display: inline-flex;
  flex-direction: row;
  min-width: 250px;
  max-width: 300px;
}

.Warning-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/***Make active page bold in toolbar ***/
.studyname {
  font-weight: bold;
}

/* Chart types */

.Chart_bar {
  color: rgb(255, 155, 0);
  font-family: "Esphimere Light";
  position: center;
}

/********* NEW DELETE POPUP *******/
.DeleteStudy_inactive {
  padding-left: 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: thin;
  color: black;
}

.DeleteStudy_active {

  padding-left: 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: red;
}


/*Styles  Upload-window*/

.inputfile_hidden {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


/**** Spinning logo ****/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/***Sets table in middle of page **/
.react-tabs__tab-panel--selected {
  display: inline-block !important;
}


/**** SMALL SCREEEN 

@media only screen and (max-width: 768px) {
  .App{
  font-weight: 600;
  }
  /* Format everything but the header 
   .App-body{
    font-size: calc(10px + 2vmin);
    padding-left:0px;
    padding-top: 100px;
  }
  /*The spinning muffin 
  .Cupcake-spinner{
    width: 50px;
  }
  
  /*Fixes pos of tables
  .Table-fix{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Format size of Header
  .Header-bar{
    
    align-items: center;
    height: 80px; 
    z-index: 1;
    width: 100%;
    position: fixed; 
    background-color:#DDDDDD80;
    padding-top: 0vmin;

  }
  /* Format links in header
  .Header-link{
    display: unset;
    width: 20px;
    padding: 0px 0px;
    margin-left: 20px;

  font-weight:normal;
    }
  
  /* Format active-link in header
  .Header-link-active{
    display: unset;
    width: 20px;
    padding: 0px 0px;
    margin-left: 20px;
    }
}


@media only screen and (max-width: 479px) {
  .App{
  font-weight: 600;
  }
  /* Format everything but the header 
   .App-body{
    padding-top: 120px;
  }
  /*The spinning muffin 
  .Cupcake-spinner{
    display: none;
  }
  

  /* Format size of Header*
  .Header-bar{
    width: 100%;
  }
  /* Format links in header*
  .Header-link{ 
    max-width:20px;
    padding: 0px 0px;
    margin: 20px 15px;
    vertical-align: 0%;
    font-weight:normal;


  }
  
  /* Format active-link in header*
  .Header-link-active{
    width:20%;
    display: unset;
    padding: 0px 0px;
    margin: 20px 15px;
  font-weight: bold;
    }
}

****/