/* Version 1.1
 * 
 *
 *
 */
/* Set global formats*/
 .App{
  font-family: "Esphimere Thin";  
  text-align: center;
  background-image: 
  linear-gradient(
    #000000AA,
    #00000060
  ),url("./img/Cupcake.jpg");
  background-size: 100vw;
  background-repeat: repeat;
  min-height: 100vh;
  height: 100%;
  color: white;
  
 }
/* Format everything but the header */
 .App-body{
  font-size: calc(10px + 2vmin);
  padding-left:145px;
  padding-top: 100px;
}
/*The spinning muffin */
.App-logo-header{
  width: 100%;
  max-width: 70px;
  animation: App-logo-spin infinite 15s linear;
}
/*Fixes pos of tables*/
.App-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Format text in title */
.Page-header{
  font-size:  calc(12px + 3vmin);
  font-weight: bold;
}

/* Format size of Header*/
.Header-bar{
  height: 100%; 
  width: 140px;
  display: flex;
  position: fixed; 
  background-color:#DDDDDD80; 
  padding-top: 5vmin;
  
}
/* Format links in header*/
.Header-link{
  display:flex;
  flex-direction: column;
  padding: 15px 0px;
  font-family: "Esphimere Light";  
  text-Decoration: none;
  color: #000000;
}

/* Format active-link in header*/
.Header-link-active{
  display:flex;
  flex-direction: column;
  padding: 15px 0px;
  font-family: "Esphimere Light";  
  text-Decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
/** All links when hovered/focused **/
a:hover, a:active {
  color: #F0F0F0;
}

/*** formats all "non-special" buttons ***/
.button_pop{
  color: #000000;
  font-family: "Esphimere Light";  
  cursor: pointer;
  padding: 0px 15px;
  margin: 10px 15px;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 14px;
  border: 3px solid #70707080;
  background-color:white;
  border-radius: 15px;
  outline: none;
}     
.button_pop:active,  .button_pop:hover, .button_pop:focus{
 background-color: #70707080; 
 border-color: white;
 color: white;
}

/** Formats buttons on popups with white background**/
.button_popup{
  color: #000000;
  font-family: "Esphimere Light";  
  cursor: pointer;
  padding: 0px 15px;
  margin: 10px 15px;
  line-height: 2em;
  letter-spacing: 1.5px;
  position: relative;
  font-size: 14px;
  border: 3px solid #70707080;
  background-color:white;
  border-radius: 15px;
  outline: none;
}
.button_popup:active,  .button_popup:hover, .button_popup:focus{
  background-color: #70707080; 
   }


   /***Formats the lists of studies ***/
.button_text{
  color: white;
  font-family: "Esphimere Light";  
  cursor: pointer;
  margin-right: 100px;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 14px;
  border: 0px solid;
  background-color:transparent;
  outline: none;
}

.button_text:active, .button_text:hover, .button_text:focus{
  text-decoration-line: underline;
}

/***Datasheet-cells ***/

  /* Here we overwrites existing css file -> alot of !important */
.cell{
  color: black;
min-width: 50px;
max-width: 100px;
background-color: #ffffff !important;
font-size: 10px;
font-family: "Esphimere Bold";
overflow: hidden;
border: 1px solid #333333 !important;
text-align: center !important;
}
.cell > input{
max-width: 50px;
font-size: 10px;
text-align: center !important;
font-size: 10px;
font-family: "Esphimere Bold";
}


/** Create-popup **/
.modal {
  color: #000000;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;  
  padding-bottom: 20px;
}


/**Datasheet-Dimension-counters **/
.Dimmer{
  align-items: center;
  max-width: 44px;
  outline:none;
  margin: 10px 10px;
}

/***Everywhere there are text-inputs ***/
.Text-input{
  margin: 10px 10px;
  font-size: 16px;
  height: 30px; 
  border: 2px solid #A0A0A080;
  outline: none;
}
.Text-input:active, .Text-input:focus{
 border-color: #A0A0A0;
}


/* Dropdowns*/

.dropdown-item {  
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  padding: 5px;
  height: 22px;
  border-bottom: 1px solid #A0A0A080;
}
.dropdown-item:hover {
  color: #2980b9;
  font-weight: bold;
}



/*Changes color in modal-popups*/
.Delete-all {
  color: #000000;
}

/***Information popups***/
.info_pop{
  color: rgb(0,125,255);
  font-family: "Droid Sans";  
  font-style: italic;
  cursor: help;
  padding: 0px 10px;
  margin: 0px 0px;
  line-height: 1.2em;
  letter-spacing: 0px;
  position: center;
  font-size: 22px;
  border: 1px solid rgb(0,125,255);
  background-color:white;
  border-radius: 100%;
  outline: none;
} 

.text_color{
  color:black;
  background-color: #FFFFFF50;
}

 /***Make active page bold in toolbar ***/
 .studyname{
  font-weight: bold;
}

/* Chart types */

.Chart_bar{
  color: rgb(255, 155, 0);
  font-family: "Esphimere Light";
  position: center;
}


/**** Spinning logo ****/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/**** Font imports ****/
@font-face{
  font-family: "Esphimere Thin";
  src: url("./Fonts/esphimere/Esphimere Thin.otf");
}
@font-face{
  font-family: "Esphimere Extra Light";
  src: url("./Fonts/esphimere/Esphimere Extra Light.otf");
}
@font-face{
  font-family: "Esphimere Light";
  src: url("./Fonts/esphimere/Esphimere Light.otf");
}
@font-face{
  font-family: "Esphimere";
  src: url("./Fonts/esphimere/Esphimere.otf");
}
@font-face{
  font-family: "Esphimere Semi Bold";
  src: url("./Fonts/esphimere/Esphimere Semi Bold.otf");
}
@font-face{
  font-family: "Esphimere Bold";
  src: url("./Fonts/esphimere/Esphimere Bold.otf");
}
/* Italics */
@font-face{
  font-family: "Esphimere Thin Italic";
  src: url("./Fonts/esphimere/Esphimere Thin Italic.otf");
}
@font-face{
  font-family: "Esphimere Extra Light Italic";
  src: url("./Fonts/esphimere/Esphimere Extra Light Italic.otf");
}
@font-face{
  font-family: "Esphimere Light Italic";
  src: url("./Fonts/esphimere/Esphimere Light Italic.otf");
}
@font-face{
  font-family: "Esphimere Italic";
  src: url("./Fonts/esphimere/Esphimere Italic.otf");
}
@font-face{
  font-family: "Esphimere Semi Bold Italic";
  src: url("./Fonts/esphimere/Esphimere Semi Bold Italic.otf");
}
@font-face{
  font-family: "Esphimere Bold Italic";
  src: url("./Fonts/esphimere/Esphimere Bold Italic.otf");
}
